In [1]:
x_in=[1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000]   #x =year
y_in=[338.7,341.1,	344.4, 347.2,351.5,354.2,356.4,	358.9,362.6,366.6,369.4] # CO2 level with respect to year util 2000

In [2]:
#calculate Sxx=(xi-xbar)^2
#calculate xbar until 2000
def Calc_Sxx(x_in,y_in):
     n=len(x_in)
     xbar=sum(x_in)/n
     ybar=sum(y_in)/n
#calculate Sxx
     Sxx=0
     for i in range(0,n):
        S=(x_in[i]-xbar)**2
        Sxx=S+Sxx
  #calculate Sxy to calculate new value
     Sxy=0
     for i in range(0,n):
        S=(x_in[i]-xbar)*y_in[i]
        Sxy=S+Sxy
     return Sxx,Sxy,xbar,ybar

In [3]:
#calculate b1 and b0
[Sxx,Sxy,xbar,ybar]=Calc_Sxx(x_in,y_in)
b1=(Sxy/Sxx)
b0=ybar-b1*xbar
print(b0,b1)

-2707.254545454546 1.5381818181818185

In [4]:
y_20=2020*b1+b0    #y=b0+b1x
print(y_20)

399.8727272727274

In [10]:
#Fill the missing data of 2020
x_new=[1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2020]   #x =year
y_new=[338.7,341.1,	344.4, 347.2,351.5,354.2,356.4,	358.9,362.6,366.6,369.4,399.87] # CO2 level with respect to year util 2000

In [11]:
#Calculate CO2 for 2030
[Sxx_new,Sxy_new,xbar_new,ybar_new]=Calc_Sxx(x_new,y_new)
b1_new=(Sxy_new/Sxx_new)
b0_new=ybar_new-b1_new*xbar_new
y_30=2030*b1_new+b0_new    #y=b0+b1x
print(y_30)

415.2520948616602